@font-face {
    font-family: "Lato";
    src: url(http://fonts.googleapis.com/css?family=Lato:300,400);
}

html {
	background-image:url(../images/bg.png);
	width:100%;	
}

body {
	margin:0;
	/*background-image:url(img/bg.png);*/
	color:#7B7B7B;
	font-size:14px;
	text-shadow: 0px 1px 2px rgba(255, 255, 255, 1);
	-moz-text-shadow: 0px 1px 2px rgba(255, 255, 255, 1);	
	-webkit-text-shadow: 0px 1px 2px rgba(255, 255, 255, 1);
	font-family:Lato, Helvetica, Arial, sans-serif;
	font-weight: 400; 
	width:1250px;
}

img {
	height:auto;
	max-width:100%;
	box-sizing:padding-box;
}
	
h1 {
	display:none;
	visibility:hidden;	
}

section.error-page h1 {
    display:block;
    visibility: visible;
    color:#AEAEAE;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
}

h2 {
	color:#AEAEAE;
	font-size:1.714em;
	text-transform:uppercase;
	font-weight:300;
	padding:0;
	margin:0;
}

h2:after {
	content:" ";
	background: url(../images/sprites.png) no-repeat;
	background-position: -456px -44px ;
	width: 20px;
	height: 20px;
	display:inline-block;
	margin-left:10px;	
}

a {
	color:#B37579;
	text-decoration:none;
}

a:hover {
	color:#B28E76;	
}

header, footer {
	margin:0 auto;
	width:80%;
	
}

header {
	margin-top:0.357em;
	margin-bottom:1.786em;	
}

footer {
	margin-top:1.786em;
	margin-bottom:0.357em;	
}

nav ul {
	list-style:none;	
	margin:0;
	padding:0;
	text-align:center;
}

header nav ul li, footer nav ul li {
	display:inline-block;	
	margin-right:10px;
	padding:0;
}

header nav ul li a {
	color: #AEAEAE;
	font-size:2.571em;
	text-transform:uppercase;
	font-weight:300;
	text-decoration:none;
}

header nav ul li.current a {
	color:#B37579;	
}

header nav ul li a:hover {
	color:#B28E76;	
}

header nav ul li a:after {
	content:" ";
	background: url(../images/sprites.png) no-repeat;
	background-position: -478px -44px ;
	width: 24px;
	height: 24px;
	display:inline-block;
	margin-left:20px;
}

footer nav ul li a:after {
	content: " ";
	background:url(../images/sprites.png) no-repeat;
	background-position: -442px -44px ;
	width: 12px;
	height: 12px;
	display:inline-block;
	margin-left:20px;	
}

nav ul li.last a:after {
	content:" ";
	background:none;
	display:none;	
}

.clear {
	clear:both;
	width:100%;	
}

.separator {
	height:auto;
	text-align:center;	
}

.separator div {
	display:inline-block;
	margin:0 0.714em 0 0.714em;	
}

.section-container {
	width:910px; /* 910px / 1280px */
	margin:0 auto;
	margin-top:-1.071em;
}

.slide {
    width:910px;
    margin:0 auto;
    margin-top:-1.071em;
    margin-bottom:30px;
}

.slides-container {
    width:910px;
    margin:0 auto; 
    padding-top:15px; 
    overflow:hidden;
}

section.left, section.right {
	width:400px; /* 400px / 910px */
	float:left;
	/*height:14.286em;*/
}

section.left {
	margin-right:50px; /* 50px / 910px */		
}

section.right {
	margin-left:50px; /* 50px / 910px */
}

section.error-page {
    text-align: center;
}

section.error-page p {
    text-align: center;
}

section.error-page h1 span.error-title {
    display:inline-block;
    position:relative;
    left:38px;
    top:2px;
}

p {
	margin:0.214em;
	padding:0;
	text-align:justify;
}

p.title {
	margin-bottom:0.714em;	
}

.info p {
	margin:0 0 10px 0;	
}

a.more {
	text-align:right;
	display:block;
}

a.more:after {
	content:" ";
	background: url(../images/sprites.png) no-repeat;
	display:inline-block;
	background-position: -697px -44px ;
	width: 20px;
	height: 20px;
	position:relative;
	top:5px;
	margin-left:10px;
}

a.more:hover:after {
	background-position: -697px -66px ;
}

div.screenshot-container {
	border:1px solid #aeaeae;
	width:370px; /* 370px / 400px */
	/*height:8.929em;*/
	height:auto;
	margin:0 auto;
}

img.screenshot-small {
	/*width:94.594595%; /* 350px / 370px */
	/*height:7.500em;*/
	margin-bottom:-2px;
	padding:0;
	border:10px solid #fff;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	opacity:0.5;
}

.arrows {
	margin:0 auto;
	margin-bottom:10px;
	width:910px;
	height:35px;	
}

b {
	font-weight:normal;
	color:#724d4f;
}

.post-excerpt {
    margin-bottom:20px;
    padding-bottom:20px;
    border-bottom: #B37579 1px dotted;
}

.pagination {
    text-align: center;
    margin:30px;
}

img.profile-picture {
    float:left;
    margin:5px 25px 25px 0;
    border:1px solid #aeaeae;
}